.updatecourse{
      background-color: rgba(128, 128, 128, 0.151);
      font-size: 12px;
      height: 100vh;

}
.updatecourse h5{
      padding: 20px;
}
.updatecourse .upcourse{
      background-color: white;
      height: 450px;
      margin-left: 30px;
      padding: 20px;
      border-radius: 8px;
      width: 60%;
      
}
.updatecourse .upcourse input{
      width: 300px;
      border: none;
      background-color: rgba(128, 128, 128, 0.151);
      padding: 8px;
      border-radius: 3px;
}
.updatecourse .upcourse .input0{
      background-color: white;
      border: .5px solid rgba(128, 128, 128, 0.514);
}
.updatecourse .upcourse label{
      position: absolute;
      padding: 8px;
      color: rgba(128, 128, 128, 0.726);
}
.updatecourse .upcourse p{
      font-weight: 600;
      margin-top: 15px;
}
 .updatecourse .upcourse button{
      margin-top: 100px;
      float: right;
      
} 
.updatecourse .upcourse .but2{ 
      border: none;
      padding: 7px 25px;
      border-radius: 5px;
      color: rgb(36, 63, 36);
      
}
.updatecourse .upcourse .but1{ 
      border: none;
      padding: 7px 25px;
      margin-left: 10px;
      border-radius: 5px;
      background-color: rgba(36, 63, 36, 0.74);
      color: white;
      margin-right: 40px;
}

